:root{
  /* Red variant */
  --dark-red:#ff3b3f;

  /* White variant */
  --primary-white:#ffffff;

  /* Black variant */
  --primary-black:#000000;
  --transparent-black:#0000001A;

  /* Blue variant */
  --light-aqua:#af9cf300;
  --pale-blue:#AF9CF3;

  /* Grey variant */
  --light-gray:#F3F4FA;
  --shade-gray: #F3F4FA;
  --platinum-gray:#e1e3e8;


  /* green variant */
  --light-green: #44B77B;


}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  
}

html,
body {
  max-width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}


.btn {
width: 85%;
background-color: var(--dark-red);
padding:1rem 1.5rem;
outline: none;
border: none;
font-size: 1.2rem;
font-weight: bold;
color:var(--primary-white) ;
border-radius: 1.5rem;
cursor: pointer;
}

.question__title {
  font-weight: 900;
line-height: 1.4rem;
}


.btn__container {
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}
.question__image{
  width: 85%;
  height: auto;
  
 
}
.question__image img {
  width:100%;
  object-fit:contain;
}

.disabled {
  pointer-events: none;
  opacity: 0.5; 
}

.container {
    background-color: var(--pale-blue);

}

.card {
    top: 6rem;
    height: 100vh;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    position: relative;
    background-color: var(--primary-white);
  

}

.container__img {
  height: 2rem;
}
.container__img img {
  width: 100%;
  object-fit: contain;
}