.main {
  background: linear-gradient(180deg, var(--light-aqua) 7.92%, var(--pale-blue) 86.48%);
background-blend-mode: multiply;
display: flex;
flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding: 1.5rem 1rem;
  justify-content: space-between;
}
.circle {
  width: 15rem;
  height: 15rem;
  line-height: 15rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background: var(--primary-white);
  text-align: center;
  color: var(--dark-red);
  box-shadow: 0rem 0.4rem 0.4rem 0rem var(--transparent-black);

}



.logoContainer {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.link__container{
  width: 90%;
}